.advantages {
    &__wrapper {
        @include container($container-width);
        padding-bottom: 80px;

        &::after {
            @include clearfix();
        }
    }

    &__column {
        float: left;
        width: 320px;

        &:not(:last-of-type) {
            margin-right: 105px;
        }

        p {
            @include font(12px, $regular, #fff);
            line-height: 20px;

            padding-top: 15px;
            margin: 0;

            opacity: 0.6;
        }

    }

    &__title {
        @include font(14px, $regular, #fff);
    }
}