.footer {

    background-color: #202020;
    
    &__wrapper {
        @include container($container-width);

        @include clearfix();
    }

    &__copyright {
        float: left;

        & > span {
            @include font(12px, $regular, #807996);
            line-height: 80px;
        }
    }

    &__menu {
        float: right;
    }

    &__menu-list {
        margin: 0;
        padding: 0;

        font-size: 0;

        list-style: none;
    }

    &__menu-item {
        display: inline-block;

        &:not(:last-of-type) {
            margin-right: 15px;
        }

        & > a {
            @include font(12px, $regular, #fff);
            text-decoration: none;
            line-height: 80px;
        }
    }

}