* {
  box-sizing: border-box; }

body {
  min-width: 1170px;
  font-family: "Montserrat", sans-serif; }

header {
  background: url("../img/header-bg.jpg") no-repeat; }

.header__wrapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 45px 0; }
  .header__wrapper::after {
    content: "";
    display: table;
    clear: both; }

.header__logo {
  float: left; }
  .header__logo span {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: normal;
    text-transform: uppercase; }

.header__menu-list {
  float: right;
  padding: 0;
  margin: 0;
  font-size: 0; }

.header__menu-item {
  display: inline-block; }
  .header__menu-item:not(:last-of-type) {
    margin-right: 30px; }
  .header__menu-item a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none; }

.hero__wrapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 80px 180px;
  text-align: center; }

.hero h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  line-height: normal; }

.hero p {
  padding: 40px 0 80px 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: normal; }

.hero__btn {
  display: inline-block;
  padding: 0 60px;
  height: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  border-radius: 25px;
  background-color: #32be60; }

.advantages__wrapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-bottom: 80px; }
  .advantages__wrapper::after {
    content: "";
    display: table;
    clear: both; }

.advantages__column {
  float: left;
  width: 320px; }
  .advantages__column:not(:last-of-type) {
    margin-right: 105px; }
  .advantages__column p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    line-height: normal;
    line-height: 20px;
    padding-top: 15px;
    margin: 0;
    opacity: 0.6; }

.advantages__title {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: normal; }

.campaigns__wrapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 80px 0; }

.campaigns__description {
  padding: 0 180px 80px 180px;
  text-align: center; }
  .campaigns__description h2 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 400;
    color: #150c31;
    line-height: normal; }
  .campaigns__description p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #807996;
    line-height: 20px; }

.campaigns__columns::after {
  content: "";
  display: table;
  clear: both; }

.campaigns__btn-block {
  padding-top: 40px;
  text-align: center; }

.campaigns__btn {
  display: inline-block;
  padding: 0 60px;
  height: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #150c31;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  border-radius: 25px;
  border: 2px solid #150c31;
  background-color: transparent; }

.campaign-column {
  width: 270px;
  float: left; }
  .campaign-column:not(:last-of-type) {
    margin-right: 30px; }
  .campaign-column img {
    margin-bottom: 30px; }
  .campaign-column__desc {
    padding: 0 10px; }
  .campaign-column__title {
    display: block;
    margin: 0;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #150c31;
    line-height: normal; }
  .campaign-column p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #807996;
    line-height: normal; }
  .campaign-column__location {
    position: relative;
    display: block;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #150c31;
    line-height: normal; }
    .campaign-column__location::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 10px;
      height: 16px;
      background: url("../img/location-icon.png") no-repeat 0 0;
      content: ""; }
  .campaign-column__bar {
    position: relative;
    display: block;
    height: 6px;
    background-color: #dad8df; }
    .campaign-column__bar::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 6px;
      background-color: #32be60;
      content: ""; }
    .campaign-column__bar--first::before {
      width: 40%; }
    .campaign-column__bar--second::before {
      width: 76%; }
    .campaign-column__bar--third::before {
      width: 6%; }
    .campaign-column__bar--fourth::before {
      width: 100%; }

.campaign-details {
  padding-top: 10px;
  font-size: 0; }
  .campaign-details__block {
    display: inline-block; }
    .campaign-details__block:not(:last-of-type) {
      margin-right: 25px; }
  .campaign-details__number {
    font-size: 14px;
    font-weight: 600;
    color: #150c31;
    line-height: normal; }
  .campaign-details__legend {
    font-size: 12px;
    font-weight: 600;
    color: #807996;
    line-height: normal; }

.story {
  background: url("../img/story-bg.jpg"); }
  .story__wrapper {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 160px 0; }
    .story__wrapper::after {
      content: "";
      display: table;
      clear: both; }
  .story__content {
    width: 585px;
    float: right; }
    .story__content h2 {
      margin: 0;
      padding-bottom: 30px;
      font-size: 28px;
      font-weight: 400;
      color: #fff;
      line-height: normal; }
    .story__content p {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      line-height: 22px; }

.help__wrapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 80px 0; }

.help__description {
  padding: 0 180px 80px 180px;
  text-align: center; }
  .help__description > h2 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 400;
    color: #150c31;
    line-height: normal; }
  .help__description > p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #807996;
    line-height: 20px; }

.help__items {
  font-size: 0; }

.help__item {
  display: inline-block;
  width: 500px;
  margin-bottom: 60px; }
  .help__item:nth-of-type(odd) {
    margin-right: 140px; }

.help__item-img {
  float: left;
  height: 80px;
  width: 80px;
  margin-right: 20px;
  border: 2px solid #ece8f1;
  border-radius: 50%; }
  .help__item-img--first {
    background: url("../img/help-items/1.png") no-repeat 50% 50%; }
  .help__item-img--second {
    background: url("../img/help-items/2.png") no-repeat 50% 50%; }
  .help__item-img--third {
    background: url("../img/help-items/3.png") no-repeat 50% 50%; }
  .help__item-img--fourth {
    background: url("../img/help-items/4.png") no-repeat 50% 50%; }

.help__item-desc {
  padding-left: 100px; }
  .help__item-desc > span {
    font-size: 18px;
    font-weight: 400;
    color: #150c31;
    line-height: normal; }
  .help__item-desc > p {
    font-size: 14px;
    font-weight: 400;
    color: #807996;
    line-height: 20px; }

.shop {
  background-color: #f3f3f3; }
  .shop__wrapper {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 120px 0;
    background: url("../img/shop-img.png") no-repeat 60px -40px; }
    .shop__wrapper::after {
      content: "";
      display: table;
      clear: both; }
  .shop__content {
    width: 585px;
    float: right; }
    .shop__content h2 {
      margin: 0;
      padding-bottom: 30px;
      font-size: 28px;
      font-weight: 400;
      color: #150c31;
      line-height: normal; }
    .shop__content p {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      color: #807996;
      line-height: 22px; }
  .shop__btn {
    display: inline-block;
    padding: 0 60px;
    margin-top: 30px;
    height: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 25px;
    background-color: #150c31; }

.donors__wrapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 80px 0; }

.donors__description {
  padding: 0 180px 80px 180px;
  text-align: center; }
  .donors__description > h2 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 400;
    color: #150c31;
    line-height: normal; }
  .donors__description > p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #807996;
    line-height: 20px; }

.donors__items {
  font-size: 0; }

.donors__item {
  display: inline-block;
  width: 234px;
  text-align: center; }
  .donors__item > img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: inline-block;
    margin-bottom: 15px; }

.donors__money-label {
  font-size: 14px;
  font-weight: 600;
  color: #150c31;
  line-height: normal;
  display: block; }

.donors__name-label {
  font-size: 12px;
  font-weight: 600;
  color: #807996;
  line-height: normal;
  display: block; }

.footer {
  background-color: #202020; }
  .footer__wrapper {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both; }
  .footer__copyright {
    float: left; }
    .footer__copyright > span {
      font-size: 12px;
      font-weight: 400;
      color: #807996;
      line-height: normal;
      line-height: 80px; }
  .footer__menu {
    float: right; }
  .footer__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0; }
  .footer__menu-item {
    display: inline-block; }
    .footer__menu-item:not(:last-of-type) {
      margin-right: 15px; }
    .footer__menu-item > a {
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      line-height: normal;
      text-decoration: none;
      line-height: 80px; }
